*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 90px 20px 0;
    background: #707073;
}

header{
    background-color: #242427;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/**Comienzo navbar **/

.nav{
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    list-style: none;
}


.nav-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
   
}

.nav-link:hover{
    background-color: rgb(145, 71,255);
    transition: 0.5s;
}


.nav-link{
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 3px;
    
}

#logo{
    font-size: 30px;
    font-weight: bold;
    padding: 0;
    line-height: 80px;
    text-decoration: none;
    color: white;
}

.burguer{
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding:0 20px;
    line-height: 60px;
    display: none;
}

@media screen and (max-width: 768px){
    body{
        padding-top: 70px;
        background-color: black;
    }

    header{
        height: 60px;
    }

    #logo{
        font-size: 25px;
        font-weight: bold;
        padding: 0;
        line-height: 60px;
        text-decoration: none;
        color: white;
    }

    .nav-menu{
        flex-direction: column;
        align-items: center;
        margin-left: 0px;
        margin-right: 20px;
        background-color:#242427 ;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0 0 0;
        height: calc(100% - 60px);
        overflow-y: auto;
        left: 100%;
        transition: left 0.3s;
    }

    .nav-item{
        line-height: 70px;
    }

    .nav-link:hover{
        background: none;
        color:rgb(145, 71,255) ;}

    .burguer{
        display: block;
        cursor: pointer;
    }

    .nav-menu_visible{
        left: 0;
    }

  

}

/** Fin Barra de navegacion **/

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 10px;
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
}

.container .titu {
    color: white;
    grid-column-start: 1;
    grid-column-end: -1;
    background-color: #12203E;
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;
}

h1{
    animation-name: mianimacion;
    animation-duration: 30s;
    
}


@keyframes mianimacion {
    0% {color: white;}
    25% {color:springgreen; }
    50% {color: skyblue;}
    100% {color: slateblue;}

}

.container .stats{
    grid-column: 1/4;
    display: grid;
    grid-template-columns: repeat(3,1fr);  
}

#celda1{
    background-color: #0060E0;
    border-radius: 5px;
    margin: 5px ;
    grid-column: 1/2;
}

#celda2{
    background-color: #0060E0;
    border-radius: 5px;
    margin: 5px ;
    grid-column: 2/3;
}

#celda3{
    background-color: #0060E0;
    border-radius: 5px;
    margin: 5px;
    grid-column: 3/4;
}

#celda4{
    background-color: #0060E0;
    border-radius: 5px;
    margin: 5px;
    grid-column: 1/2;
}

#celda5{
    background-color: #0060E0;
    border-radius: 5px;
    margin: 5px ;
    grid-column: 2/3;
}

#celda6{
    background-color: #0060E0;
    border-radius: 5px;
    margin: 5px;
    grid-column: 3/4;
}

h4{
    margin-left: 5px;
    color: white;
}

img{
    margin: 0 12px;
    margin-top: 5px;
    width: 90%;
    height: 50%;
    border-radius: 5px;
}

p{
    margin-left:5px;
}


.tablas .tit-tabla{
    margin-top: 15px;
    margin-left: 50px;
    margin-bottom: 15px;
    color: whitesmoke;
    font-size: 20px;
}

.container .tablas{
    grid-column: 4/5;
    background-color: teal;
    border-radius: 5px;
}

.tabla{
    margin: 20px auto;
    background-color: whitesmoke;
    text-align: left;
    width: 90%;
    border-collapse:collapse ;
}

th, td{
    padding: 5px;
}

thead{
    background-color: steelblue;
    border-bottom: solid 5px #0f362d;
    color:midnightblue;
}

tr:nth-child(even){
    background-color: #ddd;
}




.pie{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color:#0060E0 ;
    padding: 20px;
    border-radius: 4px;
    grid-column: 1/-1;
}

@media screen and (max-width: 768px){

  .container{
      display: flex;
      justify-content: space-around;
      flex-direction: column;
  }


  .container .stats{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
  }
  .pie{
    display: flex;
    justify-content: space-around;
    flex-direction:column;
    align-items: center;
   }

   h1{
    color: white;
    }

    img{
        margin: 0 12px;
        margin-top: 10px;
        margin-bottom: 10px;
        width:50%;
        height: 30%;
        border-radius: 10px;
        float: left;
    }
    h4{
        margin-top: 5px;
        margin-left: 5px;
        color: white;
    }

    p{
        margin-top: 5px;
        margin-left:5px;
    }


}



@media screen and (max-width: 360px){

    .container{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
  
  
    .container .stats{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .pie{
      display: flex;
      justify-content: space-around;
      flex-direction:column;
      align-items: center;
     }
  
     h1{
      color: white;
      }


      img{
        margin: 0 12px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 90%;
        height: 50%;
        border-radius: 5px;
    }
    #celda1{
        background-color: #0060E0;
        border-radius: 5px;
        margin: 5px ;
        grid-column: 1/2;
        padding: 10px;
    }
    
    #celda2{
        background-color: #0060E0;
        border-radius: 5px;
        margin: 5px ;
        grid-column: 2/3;
        padding: 10px;
    }
    
    #celda3{
        background-color: #0060E0;
        border-radius: 5px;
        margin: 5px;
        grid-column: 3/4;
        padding: 10px;
    }
    
    #celda4{
        background-color: #0060E0;
        border-radius: 5px;
        margin: 5px;
        grid-column: 1/2;
        padding: 10px;
    }
    
    #celda5{
        background-color: #0060E0;
        border-radius: 5px;
        margin: 5px ;
        grid-column: 2/3;
        padding: 10px;
    }
    
    #celda6{
        background-color: #0060E0;
        border-radius: 5px;
        margin: 5px;
        grid-column: 3/4;
        padding: 10px;
    }
  
  }

